.container {
    width: 900px;
    height: 500px;
    background: cornflowerblue;
}
.container__header {
    width: 900px;
    height: 100px;
    background: aliceblue;
}
.container__header-image {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
}
.header__buy-btn {
    height: 30px;
    width: 50px;
    position: absolute;
    left: 720px;
    top: 50px;
}


.container__body {
    width: 900px;
    background: ghostwhite;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__body-text{
    width: 200px;
    height: 200px;
    position: center;
}
.container__body-buy-btn{
    width: 50px;
    height: 30px;
    position: absolute;
    left: 570px;
    top: 200px;
}
.container__body-price{
    position: absolute;
    left: 580px;
    top: 160px;
}


.container__footer {
    width: 900px;
    height: 100px;
    background: chocolate;
}
.container__footer-link{
    width: 300px;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
}
.container__footer-text{
    width: 300px;
    height: 100px;
    position: absolute;
    left: 300px;
    display: flex;
    align-items: center;
}
.container__footer-image{
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;

}
.container__footer-img{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 750px;
}

